/* .auth__form{
    background: var(--hero-bg);
    padding: 40px;
    border-radius: 5px;
}
.auth__btn{
    background: #fff !important;
    color: var(--primary-color);
    font-weight: 600;
}
.auth__form p{
    margin-top: 30px;
}
.auth__form p a {
    color: var(--main-color);
}
.auth__form input[type='file']{
    color: var(--main-color);
    cursor: pointer;
} */